.profile-wrapper { position: relative; display: inline-block; }
.profile-icon { position: absolute; width: 60px; height: 60px; opacity: 0; transform: scale(0.5); transition: transform 0.5s ease-out, opacity 0.5s ease-out; }
.profile-wrapper.loaded .profile-icon { opacity: 1; transform: scale(1); }
.icon-bowdoin { top: -15px; left: -15px; }
.icon-salk { top: -15px; right: -15px; }
.icon-cricket { bottom: -15px; right: -15px; }
