_site/
.DS_Store
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
.idea

# WSL fix

.bundle/
vendor/
# Node.js / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

.playwright-mcp
