<footer class="navbar navbar-expand navbar-light bg-light bg-gradient border-top">
  <div class="container-fluid">
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center me-auto">
          <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/tom21100227/tom21100227.github.io?label=last%20updated" class="img-fluid" style="max-width: none;">
        </li>

        <small><a class="nav-link" href="https://techfolios.github.io">Made with Techfolios</a></small>
      </ul>
    </div>
  </div>
</footer>
