/* Default theme. Simple, yet elegant. */

/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--bs-blue);
  --tf-pill-bg: var(--bs-gray);
  --tf-icon-fill: var(--bs-gray);
  --tf-icon-hover: var(--bs-gray-500);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--bs-gray-200);
  --tf-projects-bg-color: var(--bs-gray-100);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-icon-fill);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

.music-status-container:hover .music-status-info {
            display: block !important;
          }

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-white);
  border-top: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bs-body-bg: #121212;
    --bs-body-color: #e0e0e0;
    --bs-light-rgb: 33,37,41;
    --bs-link-color: #58a6ff;
    --bs-link-hover-color: #1f6feb;
    --tf-icon-fill: var(--bs-gray-200);
    --tf-icon-hover: var(--bs-gray-400);
    --tf-page-bg-color: var(--bs-body-bg);
    --tf-dark-bg-color: #1c1c1c;
    --tf-footer-bg-color: var(--tf-dark-bg-color);
    --tf-projects-bg-color: var(--tf-dark-bg-color);
    --tf-essays-bg-color: var(--tf-dark-bg-color);
    --bs-gradient: none;
  }

  body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-brand:hover {
    color: #fff;
  }

  .navbar {
    --bs-navbar-color:  rgba(230, 230, 230, 0.75);
    --bs-navbar-brand-color: rgba(230, 230, 230, 0.75);
    --bs-bg-opacity: 0;
  }

  footer.navbar {
    color: rgba(255, 255, 255, 0.75);
  }

  .card {
    --bs-card-bg: #4a4a4a;
  }
  
  .text-muted {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .btn-outline-dark {
    color: var(--bs-body-color);
    border-color: var(--bs-body-color);
  }

  .card-footer {
    background-color: var(--bs-card-bg);
  }
}