/* Default theme. Simple, yet elegant. */

/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--bs-blue);
  --tf-pill-bg: var(--bs-gray);
  --tf-icon-fill: var(--bs-gray);
  --tf-icon-hover: var(--bs-gray-500);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--bs-gray-200);
  --tf-projects-bg-color: var(--bs-gray-100);
  --tf-card-hover-shadow-color: rgba(0, 0, 0, 0.1);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-icon-fill);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

.music-status-container:hover .music-status-info {
  display: block !important;
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-white);
  border-top: none;
}

/* Project card image handling */
.project-image-container {
  position: relative;
  overflow: hidden;
}

.project-image-container::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, transparent 70%, var(--bs-card-bg) 100%);
}


.project-card-img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  object-position: top left;
}

/* Width Screen */
@media (min-width: 768px) {
  .project-image-container::after {
    background-image: none;
  }
  .project-image-container.wide::after {
    background-image: linear-gradient(to right, transparent 150px, var(--bs-card-bg) 250px);
  }

  .project-card-img {
  width: auto;
  height: 225px;
  object-fit: cover;
  object-position: top left;
  }
}
.card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 2px 2px 8px var(--tf-card-hover-shadow-color);
  transform: scale(1.02);
}


.card:hover .text-muted {
  color: var(--bs-navbar-hover-color) !important;
}

.card:hover .card-title {
  text-decoration: underline;
  /* color: var(--bs-link-hover-color) !important; */
}

.pulsing-img {
  --pulse-color: rgba(30, 30, 30, 0.8);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--pulse-color);
  }
  20% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(1);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
  }
}

.project-date {
  white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Base Colors */
    --bs-body-bg: #121212;
    --bs-body-color: #e0e0e0;

    /* Elevated Surface Colors */
    --tf-surface-bg-color: #1c1c1c;
    --tf-card-hover-shadow-color: rgba(1, 1, 1, 0.5);

    /* Links */
    --bs-link-color: #58a6ff;
    --bs-link-hover-color: #1f6feb;

    /* Icons */
    --tf-icon-fill: var(--bs-gray-200);
    --tf-icon-hover: var(--bs-gray-400);

    /* Page Sections */
    --tf-page-bg-color: var(--bs-body-bg);
    --tf-footer-bg-color: var(--tf-surface-bg-color);
    --tf-projects-bg-color: var(--tf-surface-bg-color);
    --tf-essays-bg-color: var(--tf-surface-bg-color);

    /* Bootstrap Component Overrides */
    --bs-light-rgb: 33,37,41;
    --bs-gradient: none;
    --bs-card-bg: var(--tf-surface-bg-color);
    --bs-badge-color: #e0e0e0;
    
    /* Pill (Hashtags) Background */
    --tf-pill-bg: var(--bs-gray-900);
  }

  body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
  }
  
  .navbar {
    /* Set background to be fully transparent to let body background show through */
    --bs-bg-opacity: 0;
    --bs-navbar-color: rgba(230, 230, 230, 0.75);
    --bs-navbar-brand-color: var(--bs-navbar-color);
    --bs-navbar-hover-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-border-color: var(--bs-gray-500);
  }

  footer.navbar {
    color: rgba(255, 255, 255, 0.75);
  }

  .text-muted {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .btn-outline-dark {
    color: var(--bs-body-color);
    border-color: var(--bs-body-color);
  }

  .card {
    --bs-card-bg: var(--bs-body-bg);
  }

  .card-footer {
    /* Ensure footer inherits the card's background color */
    background-color: var(--bs-card-bg);
  }
}